* {
    box-sizing:border-box ;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    background-color: #fff;

}
.nav_pc
{
	display: flex;
	background-color: whitesmoke;
	justify-content: space-between;
  align-items: center;
  padding: 10px 55px;

}
.nav__logo
{
	
	font-size: 1.4rem;
	color: darkslategray;
	transition: color 3s;
}
.nav__logo b:hover
{
	color: black;
}
.nav__menu-list
{
	
	display: flex;
	
}
.nav__link
{
	padding: 25px 15px;
	text-decoration: none;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 17px; 
	transition: background 0.5s,color 0.5s;
	color: darkslategray; 
}
.nav__link:hover
{
  border-top: 2px solid black;
}
.nav__down
{
	text-decoration: none;
	border: 2px solid black;
	color: darkslategray;
	padding: 12px 15px;
	background-color: whitesmoke;
	
}
/* mobile nav */
.nav-menu-btn 
{

	width: 28px;
	height: 28px;
	color: darkslategray;
	display: none;

}

/*.nav__overlay
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3); 
}*/


@media only screen and (max-width: 800px)
{
	.nav-menu-btn { 
	  display: block;
	  cursor: pointer;
  }
  .nav__menu-list
  {
	  position: fixed;
	  top: 31px;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  height:100vh;
		width: 100%;
	  display: block;
	  text-align: center;
	  background-color: rgba(0, 0, 0, 0.3); 
	  transform: translateX(-100%);
	  opacity: 0;
	  transition: transform linear 0.2s, opacity linear 0.2s;
  }
  .nav__link
  {
  	display: block;
  	padding: 20px;
    font-size: 20px;    
  }
  .nav__link:hover
  {
  	border-style: none;
    background: none;
    color: #0082e6;
  }
  .nav__input:checked ~ .nav__menu-list
  {
	  transform: translateX(0);
	  opacity: 1;
  } 
  .nav__down
  {
      display: none;
  }
}
