body {
    @include  no-margin;

    font-family: 'Work Sans', sans-serif;
    font-weight: 300;

    h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    }

    // reponsive font size
    font-size: calc(0.8em + 1vmin);

}
