.blur {
    backdrop-filter: blur(6px);
}

.sticky {
    position: sticky;
    z-index: 9;
    &-top {
        top: 0;
    }
    &-bot {
        bottom: 0;
    }
}

.center {
    margin: auto;
    padding: 10px;
}

.visible {
    visibility: visible !important;
  }

.invisible {
    visibility: hidden !important;
}

.overflow {
    &-auto {
        overflow: auto;
    }
    &-hidden {
        overflow: hidden;
    }
    &-visible {
        overflow: visible;
    }
    &-scroll {
        overflow: scroll;
    }

    &-x {
        &-auto {
            overflow-x: auto;
        }
        &-hidden {
            overflow-x: hidden;
        }
        &-visible {
            overflow-x: visible;
        }
        &-scroll {
            overflow-x: scroll;
        }
    }

    &-y {
        &-auto {
            overflow-y: auto;
        }
        &-hidden {
            overflow-y: hidden;
        }
        &-visible {
            overflow-y: visible;
        }
        &-scroll {
            overflow-y: scroll;
        }
    }
}

.flexbox {
    display: flex;
    &-left {
        justify-content: left;
    }
    &-right {
        justify-content: right;
    }
    &-ceter {
        justify-content: center;
    }
    &-baseline {
        justify-content: baseline;
    }
    &-space_around {
        justify-content: space-around;
    }
    &-space_evenly {
        justify-content: space-evenly;
    }
    &-space_between {
        justify-content: space-between;
    }
}

.clearfix {
    &:after {
        clear: both;
        content: ' '; // The space content is one way to avoid an Opera bug.
        display: table;
    }
}

// Float either direction
.float {
    &-left { float: left; }
    &-right { float: right; }
}