// gird system
.col {
    
}

// main element
.nav {
    li {
        float: left;
        display: inline;
        position: sticky;
        width: 100%;
    }
}


// misc
.btn {

}

.btn-white {

}

.btn-blue {

}

.btn