@charset "UTF-8";


// themes
@mixin fonts {

}

@mixin theme_color {

}

@mixin no-margin {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    margin: 0 0 0 0;
}

// reponsive breakpoint for layout
// https://getflywheel.com/layout/css-breakpoints-responsive-design-how-to/
// https://stackoverflow.com/questions/36229356/whats-the-equivalent-of-the-container-bootstrap-class-in-purecss-io
// https://css-tricks.com/approaches-media-queries-sass/

//https://responsivedesign.is/develop/getting-started-with-sass-and-breakpoint-mixin/


// screen size breakpoint
$phone-sm: 420px;
$phone: 767px;
$tablet: 768px;
$tablet-lg: 1024px;
$desktop: 1025px;
$desktop-lg: 1600px;

//Landon Schropp breakpoint method
//https://davidwalsh.name/write-media-queries-sass
@mixin bp_phone-sm {
    @media (min-width: #{$phone-sm}) {
        @content;
    }
}
@mixin bp_phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}
@mixin bp_tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
@mixin bp_tablet-lg {
    @media (min-width: #{$tablet=lg}) {
        @content;
    }
}
@mixin bp_destop {
    @media (min-width: #{$destop}) {
        @content;
    }
}

@mixin bp_destop-lg {
    @media (min-width: #{$destop-lg}) {
        @content;
    }
}


// layout system
.row {
    &-col {
        &-col {

        }
    }
}


.container {


    &-fluid {}
}


.hero {
    width: 100%;
    height: 75vh;
    position: relative;
    z-index: -1;
    background-color: red;
    h1,
    h2,
    p,
    a {
        @include  no-margin;

        text-align: center;
        vertical-align: middle;
        line-height: 70vh;
    }
}

.content {
    @include no-margin;
    padding: 3rem 3rem 3rem 3rem;
}


// main element
// https://www.w3schools.com/css/css_navbar_horizontal.asp
// https://www.youtube.com/watch?v=PwWHL3RyQgk

body {
    @include  no-margin;
}


.nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;
    color: white;

    ul {
        @include  no-margin;
    }

    li {
        display: inline-block;
        margin: 0 0 0 0;

        a {

            transition: color 0.3s ease 0s;
            text-align: center;
            text-decoration: none;
        }
        :hover > a {
            //color: ;
        }
        :visited > a {
            color: white;
        }
    }

    &-element {
        &-link {
            &-right {
                float: right;
            }

            &-left {
                float: left;
            }

            // &-mid {}
        }

        &-logo {
            cursor: pointer;
        }
    }
}

// misc - effect
.blur {
    backdrop-filter: blur(6px);
}



// misc - element

// https://www.bestcssbuttongenerator.com/#/0
.btn {
	background-color:transparent;
	border-radius:23px;
	border:2px solid #a8a8a8;
	display:inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family:Arial;
	padding:10px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #666666;

    :hover > & {
        background-color:transparent;
    }

    :active > &  {
    }

    &-white { }

    &-blue { }
}


// misic - utilty
.sticky {
    position: sticky;
    z-index: 9;
    &-top {
        top: 0;
    }
    &-bot {
        bottom: 0;
    }
}

.center {
    margin: auto;
    padding: 10px;
  }