.blur {
    backdrop-filter: blur(6px);
}

.sticky {
    position: sticky;
    z-index: 9;
    &-top {
        top: 0;
    }
    &-bot {
        bottom: 0;
    }
}

.center {
    margin: auto;
    padding: 10px;
}

.visible {
    visibility: visible !important;
  }

.invisible {
    visibility: hidden !important;
}

.overflow {
    &-auto {
        overflow: auto;
    }
    &-hidden {
        overflow: hidden;
    }
    &-visible {
        overflow: visible;
    }
    &-scroll {
        overflow: scroll;
    }

    &-x {
        &-auto {
            overflow-x: auto;
        }
        &-hidden {
            overflow-x: hidden;
        }
        &-visible {
            overflow-x: visible;
        }
        &-scroll {
            overflow-x: scroll;
        }
    }

    &-y {
        &-auto {
            overflow-y: auto;
        }
        &-hidden {
            overflow-y: hidden;
        }
        &-visible {
            overflow-y: visible;
        }
        &-scroll {
            overflow-y: scroll;
        }
    }
}