@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.hero {
  width: 100%;
  position: relative;
  z-index: -1;
  background-color: red;
  height: 90vh;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0 0 0 0;
}

@media (min-width: 0px) {
  .hero {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .hero {
    text-align: left;
  }
}

.content {
  padding: 3rem 0 3rem 0;
}

.content-title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-title h1, .content-title h2, .content-title h3, .content-title h4, .content-title h5, .content-title h6 {
  margin-bottom: 0;
}

.content-title.fixed {
  background-attachment: fixed;
}

.content-title.scroll {
  background-attachment: scroll;
}

@media (min-width: 0px) {
  .footer-sector-top h1, .footer-sector-top h2, .footer-sector-top h3, .footer-sector-top h4, .footer-sector-top h5 {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .footer-sector-top h1, .footer-sector-top h2, .footer-sector-top h3, .footer-sector-top h4, .footer-sector-top h5 {
    text-align: left;
  }
}

.container {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 0px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.container-fluid {
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
}

.row.row-no-padding {
  padding: 0;
}

.row.row-no-padding > .column {
  padding: 0;
}

.row.row-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row.row-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row.row-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row.row-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.row-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.row.row-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.row .column {
  display: block;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

.row .column.column-offset-10 {
  margin-left: 10%;
}

.row .column.column-offset-20 {
  margin-left: 20%;
}

.row .column.column-offset-25 {
  margin-left: 25%;
}

.row .column.column-offset-33, .row .column.column-offset-34 {
  margin-left: 33.3333%;
}

.row .column.column-offset-40 {
  margin-left: 40%;
}

.row .column.column-offset-50 {
  margin-left: 50%;
}

.row .column.column-offset-60 {
  margin-left: 60%;
}

.row .column.column-offset-66, .row .column.column-offset-67 {
  margin-left: 66.6666%;
}

.row .column.column-offset-75 {
  margin-left: 75%;
}

.row .column.column-offset-80 {
  margin-left: 80%;
}

.row .column.column-offset-90 {
  margin-left: 90%;
}

.row .column.column-10 {
  max-width: 10%;
}

.row .column.column-20 {
  max-width: 20%;
}

.row .column.column-25 {
  max-width: 25%;
}

.row .column.column-33, .row .column.column-34 {
  max-width: 33.3333%;
}

.row .column.column-40 {
  max-width: 40%;
}

.row .column.column-50 {
  max-width: 50%;
}

.row .column.column-60 {
  max-width: 60%;
}

.row .column.column-66, .row .column.column-67 {
  max-width: 66.6666%;
}

.row .column.column-75 {
  max-width: 75%;
}

.row .column.column-80 {
  max-width: 80%;
}

.row .column.column-90 {
  max-width: 90%;
}

.row .column .column-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.row .column .column-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.row .column .column-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -1.0rem;
    width: 100%;
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}

.blur {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9;
}

.sticky-top {
  top: 0;
}

.sticky-bot {
  bottom: 0;
}

.center {
  margin: auto;
  padding: 10px;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.text_algin-left {
  text-align: left;
}

.text_algin-right {
  text-align: right;
}

.text_algin-center {
  text-align: center;
}

@media (min-width: 0px) {
  .text_algin-xs-left {
    text-align: left;
  }
}

@media (min-width: 0px) {
  .text_algin-xs-right {
    text-align: right;
  }
}

@media (min-width: 0px) {
  .text_algin-xs-center {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .text_algin-sm-left {
    text-align: left;
  }
}

@media (min-width: 576px) {
  .text_algin-sm-right {
    text-align: right;
  }
}

@media (min-width: 576px) {
  .text_algin-sm-center {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .text_algin-md-left {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .text_algin-md-right {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .text_algin-md-center {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .text_algin-lg-left {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .text_algin-lg-right {
    text-align: right;
  }
}

@media (min-width: 992px) {
  .text_algin-lg-center {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .text_algin-xl-left {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .text_algin-xl-right {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .text_algin-xl-center {
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .text_algin-xxl-left {
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .text_algin-xxl-right {
    text-align: right;
  }
}

@media (min-width: 1400px) {
  .text_algin-xxl-center {
    text-align: center;
  }
}

.text-oblique {
  font-style: oblique;
}

.text-italic {
  font-style: italic;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.item_align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.item_align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item_align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item_align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.item_align-initial {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.item_align-inherit {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

@media (min-width: 0px) {
  .item_align-xs-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 0px) {
  .item_align-xs-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 0px) {
  .item_align-xs-flex-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 0px) {
  .item_align-xs-flex-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 0px) {
  .item_align-xs-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 0px) {
  .item_align-xs-initial {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media (min-width: 0px) {
  .item_align-xs-inherit {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

@media (min-width: 576px) {
  .item_align-sm-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 576px) {
  .item_align-sm-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 576px) {
  .item_align-sm-flex-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 576px) {
  .item_align-sm-flex-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 576px) {
  .item_align-sm-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 576px) {
  .item_align-sm-initial {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media (min-width: 576px) {
  .item_align-sm-inherit {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

@media (min-width: 768px) {
  .item_align-md-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 768px) {
  .item_align-md-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .item_align-md-flex-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .item_align-md-flex-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .item_align-md-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .item_align-md-initial {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media (min-width: 768px) {
  .item_align-md-inherit {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

@media (min-width: 992px) {
  .item_align-lg-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 992px) {
  .item_align-lg-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .item_align-lg-flex-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 992px) {
  .item_align-lg-flex-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 992px) {
  .item_align-lg-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 992px) {
  .item_align-lg-initial {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media (min-width: 992px) {
  .item_align-lg-inherit {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

@media (min-width: 1200px) {
  .item_align-xl-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 1200px) {
  .item_align-xl-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .item_align-xl-flex-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .item_align-xl-flex-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1200px) {
  .item_align-xl-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .item_align-xl-initial {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media (min-width: 1200px) {
  .item_align-xl-inherit {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

@media (min-width: 1400px) {
  .item_align-xxl-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 1400px) {
  .item_align-xxl-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1400px) {
  .item_align-xxl-flex-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1400px) {
  .item_align-xxl-flex-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1400px) {
  .item_align-xxl-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1400px) {
  .item_align-xxl-initial {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media (min-width: 1400px) {
  .item_align-xxl-inherit {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexbox-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flexbox-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.flexbox-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexbox-baseline {
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.flexbox-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexbox-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flexbox-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 0px) {
  .flexbox-xs-left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 0px) {
  .flexbox-xs-right {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media (min-width: 0px) {
  .flexbox-xs-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 0px) {
  .flexbox-xs-baseline {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

@media (min-width: 0px) {
  .flexbox-xs-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 0px) {
  .flexbox-xs-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 0px) {
  .flexbox-xs-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 576px) {
  .flexbox-sm-left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 576px) {
  .flexbox-sm-right {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media (min-width: 576px) {
  .flexbox-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 576px) {
  .flexbox-sm-baseline {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

@media (min-width: 576px) {
  .flexbox-sm-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 576px) {
  .flexbox-sm-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 576px) {
  .flexbox-sm-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .flexbox-md-left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 768px) {
  .flexbox-md-right {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media (min-width: 768px) {
  .flexbox-md-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .flexbox-md-baseline {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

@media (min-width: 768px) {
  .flexbox-md-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .flexbox-md-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .flexbox-md-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .flexbox-lg-left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 992px) {
  .flexbox-lg-right {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media (min-width: 992px) {
  .flexbox-lg-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  .flexbox-lg-baseline {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

@media (min-width: 992px) {
  .flexbox-lg-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .flexbox-lg-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .flexbox-lg-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .flexbox-xl-left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 1200px) {
  .flexbox-xl-right {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media (min-width: 1200px) {
  .flexbox-xl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .flexbox-xl-baseline {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

@media (min-width: 1200px) {
  .flexbox-xl-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .flexbox-xl-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .flexbox-xl-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .flexbox-xxl-left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 1400px) {
  .flexbox-xxl-right {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media (min-width: 1400px) {
  .flexbox-xxl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1400px) {
  .flexbox-xxl-baseline {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

@media (min-width: 1400px) {
  .flexbox-xxl-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1400px) {
  .flexbox-xxl-space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1400px) {
  .flexbox-xxl-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}

.nav {
  height: 60px;
  width: 100%;
}

.nav-link {
  text-align: center;
  color: #EDEDED;
}

.nav-link .items a {
  text-decoration: none;
}

.nav-link .items :visited {
  color: white;
}

.nav-logo {
  margin: 12px 0 auto 0;
}

.nav-light {
  background-color: #EDEDED;
  color: #171717;
}

.nav-dark {
  background-color: #171717;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: default;
  opacity: .5;
}

.button[disabled]:focus, .button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
  background-color: #9b4dca;
  border-color: #9b4dca;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: #9b4dca;
}

.button.button-outline:focus, .button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  background-color: transparent;
  border-color: #606c76;
  color: #606c76;
}

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  border-color: inherit;
  color: #9b4dca;
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #9b4dca;
}

.button.button-clear:focus, .button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: #606c76;
}

.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
  color: #9b4dca;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}

img {
  max-width: 100%;
}

body {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0 0 0 0;
}

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-corner {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #434953;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-transition: background-color .32s ease-in-out;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

body {
  font-family: 'Times New Roman', serif;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&display=swap");
  font-family: 'Work Sans', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap");
}

p, a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.55rem;
  margin-top: 0;
}

a {
  color: #9b4dca;
  text-decoration: none;
}

a:focus, a:hover {
  color: #606c76;
}

b, strong .text-strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.02rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1, h2, h3 {
  font-weight: 900;
}

h4, h5, h6 {
  font-weight: 800;
}

h1 {
  font-size: 3.3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.9rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.5rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.3rem;
  letter-spacing: -.06rem;
  line-height: 1.35;
}

h5 {
  font-size: 2.1rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.9rem;
  letter-spacing: 0;
  line-height: 1.4;
}
/*# sourceMappingURL=mylittleframework.css.map */